<div class="p-3 mb-2" style="background-color:#d1dee6"> 
<table style="width:100%">
<tr style="text-align:center;">
<td>
<a href="https://www.ieee.org/">IEEE.org</a>
</td>
<td>
<a href="https://ieeexplore.ieee.org/Xplore/home.jsp/">IEEE Xplore Digital Library</a>
</td>
<td>
<a href="http://standards.ieee.org/">IEEE Standards</a>
</td>
<td>
<a href="https://spectrum.ieee.org/">IEEE Spectrum</a>
</td>
<td>
<a href="https://www.ieee.org/sitemap.html">More Sites</a>
</td>
</tr>
</table>
</div>
