<div class="p-3 mb-2" style="background-color:#2c3e7d;"> 
<table style="width:45%;">
<tr style="text-align:center;height=14px">
<td style="color:white;">
    <a href="https://www.ieee.org/" style="color:white">IEEE.org</a>
    </td>
    <td style="color:white;">
    <a href="https://ieeexplore.ieee.org/Xplore/home.jsp/" style="color:white;">IEEE Xplore Digital Library</a>
    </td>
    <td style="color:white;">
    <a href="http://standards.ieee.org/" style="color:white">IEEE Standards</a>
    </td>
    <td style="color:white;">
    <a href="https://spectrum.ieee.org/" style="color:white">IEEE Spectrum</a>
    </td>
    <td style="color:white;">
    <a href="https://www.ieee.org/sitemap.html" style="color:white">More Sites</a>
    </td>
</tr>
</table>
</div>