<nav class="navbar-1" id="nav1">
   <ul class="navbar navbar-left" id="nav1">
      <li id="navli" class="navbar-nav"><a href="https://www.ieee.org/" id="nav1" class="navbar-brand" style="color:white; font-size: 1em">IEEE.org</a></li>
      <li id="navli" class="navbar-nav"><a href="https://ieeexplore.ieee.org/Xplore/home.jsp/" class="navbar-brand" style="color:white;font-size: 1em">IEEE Xplore Digital Library</a></li>
      <li id="navli" class="navbar-nav"><a href="http://standards.ieee.org/" id="nav1" class="navbar-brand" style="color:white;font-size: 1em">IEEE Standards</a></li>
      <li id="navli" class="navbar-nav"><a href="https://spectrum.ieee.org/" id="nav1" class="navbar-brand" style="color:white;font-size: 1em">IEEE Spectrum</a></li>
      <li id="navli" class="navbar-nav"><a href="https://www.ieee.org/sitemap.html" id="nav1"  class="navbar-brand"style="color:white;font-size: 1em">More Sites</a></li>
    </ul>
  </nav>